API_ID=12987288 # get this value from my.telegram.org
API_HASH=a05fd1ecb5651c3cc64e847c91f8765f # get this value from my.telegram.org
BOT_TOKEN=6293176299:AAHGwj46GAAraps-gAKTOARYjvoZ77ZrDJY # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://ritikraj0496:Ritik1234@ritik.pdstte1.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001774462729 # get this value from in your log group 
MUSIC_BOT_NAME=Yummi Music # your music bot name 
STRING_SESSION=BQCbWu5KiTRhgxtBHbQeuZg8bFMHJviOQrJ-8BCAkydJNB0hI8cSjDy7jui3zAQc-_g4esT4b46fsrrLjmz8ou3ZFtzCiG9G5j9IJ0DjpZVgSSEnAjBzBBZiPkRsA0Lam5vQ5h219mF8hCwWcYMn690GAnN5FbaD4ZObPJbOFkg33xU96luYJaPJnlLqSsLq6KkhgLglyjUCqKPIQyxa7-51e0NBmOM9QtXaVWOXbhASscaKEmkiF05MfDMs0V2viIDGxNiGg4NHUHWCpPPfIaymG_CzaYBwj5Ga9K0MA2OBvShHOTBgnUnhQ_jWF--P4HsqZapZhdUL4WmeYPjfgHD6AAAAAWYIGc8A
SUPPORT_GROUP=https://t.me/Friendship_Support_Group # support group 
SUPPORT_CHANNEL=https://t.me/Friendship_Updater_Group # support channel 
START_IMG_URL=https://te.legra.ph/file/41fc8688a208749a33cef.jpg # strt
OWNER_ID=6209716882 # owner 
GITHUB_REPO=https://youtube.com/@yummi_sport_07 #
