API_ID=12987288 # get this value from my.telegram.org
API_HASH=a05fd1ecb5651c3cc64e847c91f8765f # get this value from my.telegram.org
BOT_TOKEN=6293176299:AAHGwj46GAAraps-gAKTOARYjvoZ77ZrDJY # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://Ritik:Ritikraj@ritikraj.cciyuco.mongodb.net/?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001774462729 # get this value from in your log group 
MUSIC_BOT_NAME=Yummi Music # your music bot name 
STRING_SESSION=BQBn6ifS94lf6mqzQZSRrWL2DwnpbEAScnEUx2PF8l5WQlXdDbXsR60K2kfeGVbwBgI430tOhx_2nPbFCp5MWsr8iwVFwuJUAIrr5dSBsi91ePVlkHYKZhLGsr-Zx44KadnqKJoVx0kzzHvW0KzmVr-_D8swvWfM3cZnpLkvcFiKynggsq9SszglDALSyBHdhraAdSvMN-sEJ1NS4o26pAcNZtK83RzoaO6BZrpkwe7ZX5FRt7QrJERPLBDjDdX_PYG_cXXMoM7vwhPAE92G4QcvDaLc5yYWurjYptkw-wowGK9tfCXe302i74agG9KREeOpI02osdBE-FSnWyhJ4wirAAAAAWYIGc8A # string 
SUPPORT_GROUP=https://t.me/Friendship_Support_Group # support group 
SUPPORT_CHANNEL=https://t.me/Friendship_Updater_Group # support channel 
START_IMG_URL=https://te.legra.ph/file/41fc8688a208749a33cef.jpg # strt
OWNER_ID=6209716882 # owner 
GITHUB_REPO=https://youtube.com/@yummi_sport_07 #
